{% extends "layoutWithCookies.html" %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <br /><h1 class="govuk-heading-l govuk-!-margin-bottom-4">
        Sorry, there is a problem with the service
    </h1>

      
            <p>
                We have not saved your answers. You will have to start again.
            </p>
            <p>
                Go to the <a href="../eligibility-start">Apply for New Style ESA service start page</a>.
            </p>

        <h2 class ="govuk-heading-m">Cymraeg (Welsh)</h2>

            <p>
                Mae’n ddrwg gennym, mae problem gyda’r gwasanaeth.
            </p>
        
            <p>
                Nid ydym wedi arbed eich atebion. Bydd yn rhaid i chi ddechrau eto.
            </p>
            
            <p>
                Ewch i <a href="../eligibility-start-welsh">dudalen cychwyn y gwasanaeth Gwneud Cais am ESA Dull Newydd</a>.
            </p>


  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}
