{% extends "layout.html" %}

{% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="feedback">feedback (opens in a new window)</a> will help us to improve it.
      </span>
    </p>
  </div>
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- <span class="govuk-caption-xl" style="display:none">
          Content needed
    </span> -->

    <form id="form" method="post">

   <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            Is coronavirus (COVID-19) the main reason for your claim?</h1>
        </legend>

        <p class="govuk-body">Select yes if one of the following applies:</p>
        <ul class="govuk-list govuk-list--bullet">
        <li>you or your child might have coronavirus or you’re recovering from it</li>
        <li>you or your child are self-isolating because you came into contact with someone who might have coronavirus</li>
        <li>you've been told to stay at home for at least 12 weeks by the NHS because you’re at high risk of severe illness</li>
        </ul>

        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="disability-1" name="coronavirus-reason" type="radio" value='Yes~/apply/live/coronavirus-date' data-aria-controls="yes-cond">
            <label class="govuk-label govuk-radios__label" for="disability-1">
              Yes
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="disability-2" name="coronavirus-reason" type="radio" value='No~/apply/live/condition'>
            <label class="govuk-label govuk-radios__label" for="disability-2">
              No
            </label>
          </div>
        </div>
      </fieldset>
    </div>

    <input type="submit" class="govuk-button" value="Continue" id="submit"><!-- insurance-detail -->

    </form>

  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}


